body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

button{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 150px;
    height: 50px;
    margin-bottom: 7px;
    font-size: 20px;
    border: 2px solid black;
}

#rockButton{
    background-color: blue;
    color: white;
}
/* #rockButton:hover{

} */
#paperButton{
    background-color: teal;
    color: white;
}
#scissorsButton{
    background-color: blueviolet;
    color: white;
}